<!-- contact section starts -->
{% load static %}
<section class="contact" id="contact">
	<h1 class="heading">
		<p>Contact Us</p> 
	</h1>
	<form action="">
		<div class="inputBox">
			<input type="text" placeholder="name" />
			<input type="email" placeholder="email" />
		</div>
		<div class="inputBox">
			<input type="number" placeholder="number" />
			<input type="subject" placeholder="subject" />
		</div>
		<textarea
			name=""
			id=""
			cols="30"
			rows="10"
			placeholder="message"
		></textarea>

		<input type="submit" value="send message" class="btn" />
	</form>
</section>
<!-- contact section  ends-->

<!-- footer section starts -->
<div class="footer">
	<div class="share">
		<a href="#" class="btn">
			<i class="fab fa-youtube"></i>
		</a>
		<a href="#" class="btn">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="#" class="btn">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="#" class="btn">
			<i class="fab fa-linkedin"></i>
		</a>
		<a href="#" class="btn">
			<i class="fab fa-instagram"></i>
		</a>
	</div>
	<h1 class="credit">
		created by <span>bonface221</span> |all rights reserved|
	</h1>
</div>

<!-- footer section ends -->
