{% load static %}
{% extends 'main.html' %}

{% block content %}
<section>
    <h1 style="font-size: 2.5rem;">Viewing: {{image.name}}</h1>
</section>
<section>
    <div class="image-details">
        <div class="image">
            <img src="{{image.image.url}}" alt="" />
        </div>
        <div class="contents">
            <h2>Name: {{image.name}}</h2>
            <p>Location: {{image.location}}</p>
            <p>Category: {{image.category}}</p>
            <button class="btn" onclick="copy('{{image.image.url}}')">copy url</button>
        </div>
    </div>
</section>
{% endblock %}